@font-face {
  font-family: Santana;
  src: url(fonts/SantanaXtraCondensed.ttf);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Santana;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  margin-top: 2em;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyAround {
  justify-content: space-around;
}
.containerNav {
  width: 100%;
  padding: 0 1.7rem 0 1rem;
}
header {
  height: 4.5rem;
  width: 100%;
}
nav {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  height: 100%;
}
.logo {
  position: relative;
  height: 55%;
  aspect-ratio: 1;
  overflow: hidden;
}
.buttonContainer {
  height: 1.4rem;
  width: 1.4rem;
}
.menuButton {
  flex-direction: column;
  height: 0.9rem;
}
.menuButton > div {
  height: 0.15rem;
  width: 1.25rem;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.58) !important;
}
footer {
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%);
  width: 100%;
  font-size: 1.5rem;
  padding: 20px;
}
.footer > div {
  line-height: 4rem;
}
.downArrowLeft,
.downArrowRight {
  margin: 0 0.2rem 0 0.2rem;
  content: "";
  width: 0.1rem;
  height: 0.75rem;
  background-color: black;
}
.downArrowLeft {
  transform: rotate(315deg);
}
.downArrowRight {
  transform: rotate(45deg);
}
.footerMenu {
  color: rgba(0, 0, 0, 0.438);
  height: 0px;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.footerSeparator {
  width: 100%;
  height: 0.1rem;
  background: rgb(0 0 0 / 16%);
}
.socialMediaButtons {
  width: 80%;
  padding: 2rem 0 2rem;
}
.socialMediaButtons > div {
  width: 1.75rem;
}
.footerLinks > a {
  color: black;
  line-height: 3rem;
  text-decoration: none;
}
.bottomRights {
  font-size: 1.2rem;
  color: rgb(0 0 0 / 50%);
}
#arrowAboutUs,
#arrowCareers,
#arrowSocialImpact,
#arrowForBusinessPartners,
#arrowOrderAndPickup {
  transition: all 0.3s;
}
#firstCard {
  height: 20.5rem;
}
.card {
  height: 100vh;
}
.cardPhoto {
  width: 100%;
  height: 45%;
}
.cardPhoto > img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.restOfCard {
  flex-direction: column;
  height: 55%;
  background-color: #1e3932;
  color: white;
}
.cardText {
  width: 70%;
  font-size: 2.7rem;
  text-align: center;
}
.cardText2 {
  width: 90%;
  font-size: 2rem;
  text-align: center;
}
.restOfCard > a {
  font-size: 1.4rem;
  padding: 4px 20px;
  border-radius: 50px;
  border: 1px solid white;
}
#firstCard > .cardPhoto {
  height: 33%;
}
#firstCard > .restOfCard {
  height: 67%;
}
.frontPageNews > span {
  display: block;
  width: 100%;
  height: 2.1rem;
}
